:root {
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 253, 255;
  --background-end-rgb: 223, 239, 255;

  --accent: #6d91b4;
  --shadow: #ccc;
  --input-bg: #f6fcff;
  --text: #000;
  --pass: #096900;
  --fail: #c70000;

  --subject-dot-0: #d51f68;
  --subject-dot-1: #f96708;
  --subject-dot-2: #fabd40;
  --subject-dot-3: #2ddd6a;
  --subject-dot-4: #6ad7d6;
  --subject-dot-5: #2bb5f3;
  --subject-dot-6: #ba29e0;
  --subject-dot-7: #6db46d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 14;
    --background-end-rgb: 10, 12, 20;

    --accent: #6779b6;
    --shadow: #2f3c66;
    --input-bg: #141927;
    --text: #fff;
    --pass: #4dff4d;
    --fail: #ff4d4d;

    --subject-dot-0: #e94079;
    --subject-dot-1: #ebb369;
    --subject-dot-2: #def169;
    --subject-dot-3: #73df5c;
    --subject-dot-4: #55a9d2;
    --subject-dot-5: #64d1fb;
    --subject-dot-6: #8e73ef;
    --subject-dot-7: #6db46d;
  }

  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }
}