.grades {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.grade .content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.grade label {
  font-size: small;
  display: block;
  margin-bottom: 0.1rem;
}

.grade input[type="text"] {
  width: 6rem;
  font-size: medium;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s ease;

  background-color: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--accent);
}

.grade input[type="text"]:focus-visible {
  outline: none;
  box-shadow: 0 0 10px 2px var(--shadow);
}

.weight {
  font-size: small;
  color: var(--accent);
}

.resultContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.resultContainer .value {
  font-size: large;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius);
  color: var(--accent);
  border: 1px solid var(--accent);

  &.pass {
    color: var(--pass);
    border-color: var(--pass);
  }
  &.fail {
    color: var(--fail);
    border-color: var(--fail);
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.subjectHeader {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

@media screen and (max-width: 768px) {
  .grades {
    gap: 1rem;
  }

  .grade input[type="text"] {
    width: 5.3rem;
  }
}

@media screen and (max-width: 600px) {
  .grades {
    justify-content: center;
  }

  .resultContainer {
    justify-content: center;
  }
}